<h1>See all events below:</h1>
<li>Event 1 - join event button</li>
<li>Event 2</li>
<li>Event 3</li>

<h1>Create Event:</h1>
<li>FORM</li>

<h1>See all Friends:</h1>
<li>Friend 1</li>
<li>Friend 2</li>

<h1>Add a friend:</h1>
<li>FORM</li>
