<h1>Sign In</h1>

    <form action="/user">
      <label for="username">User:</label>
      <input id="username" name="username" type="text">
      <button type="submit">Log In</button>
    </form>

<h1>Sign Up</h1>

    <form action="/user" method="post">
      <label for="username">User:</label>
      <input id="username" name="username" type="text">
      <button type="submit">Sign Up</button>
    </form>
