
<% if @possible_users.any?()%>
  <%@possible_users.each do|user|%>
    <li>
      <a href='/user/<%=user.id%>'><%=user.name%></a>
    </li>
  <%end%>
<%else%>
  None
<%end%>

<% if @possible_events.any?()%>
  <%@possible_events.each do|event|%>
    <li>
      <a href='/event/<%=event.id%>'><%=event.name%></a>
    </li>
  <%end%>
<%else%>
  None
<%end%>
